
@{
    ViewBag.Title = "TimeSheetView";
    Layout = "~/Views/Shared/_Adminlayout.cshtml";
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap core CSS-->
    <link href="~/LayoutFiles/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Custom fonts for this template-->
    <link href="~/LayoutFiles/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Page level plugin CSS-->
    <link href="~/LayoutFiles/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
    <!-- Custom styles for this template-->
    <link href="~/LayoutFiles/sb-admin.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />

    @*<script>Init('?botID=15934&amp;appID=IexRyxOyFfmtKCB0ilrG', 600, 600, 'https://dvgpba5hywmpo.cloudfront.net/media/image/1524244368W0nXbIs4om', 'bubble', '#00AFF0', 90, 90, 62.99999999999999, '', '0', '#FFFFFF', 1); /* for authentication of its users, you can define your userID (add &amp;userID={login}) */</script>*@
    <!-- Core plugin JavaScript-->



</head>
<script>
    $(document).ready(function () {
        //alert("Page alert");
        const monthNames = ["January", "February", "March", "April", "May", "June",
                            "July", "August", "September", "October", "November", "December"
                            ];
        var date = new Date();
        document.getElementById("yearId").innerHTML = date.getFullYear();
        document.getElementById("monthId").innerHTML = monthNames[date.getMonth()] + "-";
        $('.leaveclass').on('input', function () {
            alert("Hi");
            var rowdate = $(this).parent().parent().find(".customerIDCell")[0].innerHTML;
            var date = [];
            date = rowdate.replace(" to ", "/");
            date = date.split("/");
            var days = date[0].split("-");
            var startdat = days[0];
            var days = date[01].split("-");
            var enddate = days[0];
            var days = enddate - startdat;
            var actualworkingdays = days + 1;
            alert(actualworkingdays);
            if (this.value > days + 1) {
                alert("Number of Leaves could not be greater than working days");
                this.value = 0;
                return false;
            }
        });
        $(".hoursclass").on("keypress keyup blur", function (event) {
            if (this.value.length > 6) {
                return false;
            }
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                event.preventDefault();
            }
        });

        $('hoursclass').bootstrapValidator({
            container: '#messages',
            feedbackIcons: {
                invalid: '',
                validating: ''
            },
            fields: {
                txthr: {
                    selector: '.hoursclass',
                    validators: {
                        stringLength: {
                            min: 0,
                            max: 2,
                            message: 'The hours length not greater than two digits'
                        },
                        integer: {
                            message: 'The value is not an integer'
                        },
                        lessThan: {
                            value: 50,
                            //alert("The hours value not greater than 50");
                            message: 'The hours value not greater than 50'
                        }
                    }
                }
            }

        })

        $('#txt').bootstrapValidator({
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                number: {
                    validators: {
                        integer: {
                            message: 'The value is not an integer'
                        }
                    }
                }
            }
        });
    });

    function showTableData()
    {
        var dates = [];
        var hours = [];
        var finaldata = [];
        var Days = []; var leaves = [];
        var strings;
        $('#tblbody tr').each(function () {

            var customerId = $(this).find(".customerIDCell").html();
            var Numberofleave = $(this).find(".leaveclass").val();
            customerId = customerId.replace(" to ","/");
            dates.push(customerId);
           leaves.push(Numberofleave);
            //alert("Date is:-" + datesandhours);
        });
        var sum = 0;
        $.each($('.hoursclass'), function () {
            var grade = $(this).val();
            sum += +grade
            //$(".myclass").val(sum);
            //$("#totalhrs").val(sum);
            document.getElementById("totalhrs").innerHTML = sum;
            hours.push(grade);
        });

        var trlenght = document.getElementById('tblbody').rows.length;
        var stng;
        var i;
        //var tdlength = document.getElementById('tblbody').rows[0].cells.length;
        for (i = 0; i < trlenght; i++)
        {
            debugger;
            finaldata.push(dates[i] + '&' + hours[i] + '#' + leaves[i]);
        }
        $.ajax({
            type: "POST",
            url: "@Url.Action("TimeSheetView", "Weeks")",
            data: JSON.stringify(finaldata),
        dataType: "json",
        contentType: "application/json",
        success: function (data) {
            alert("Data Saved Succesfully");
            window.location.href = "/Weeks/TimeSheetView";

        },
        failure: function (response)
        {
            alert(response.responseText);
        },
        dataType: "json",
        contentType: "application/json"
        });

    }

    $("#sidenavToggler").click(function (e) {
        e.preventDefault();
        $("body").toggleClass("sidenav-toggled");
        $(".navbar-sidenav .nav-link-collapse").addClass("collapsed");
        $(".navbar-sidenav .sidenav-second-level, .navbar-sidenav .sidenav-third-level").removeClass("show");
    });

</script>





@using (Html.BeginForm("TimeSheetView", "Weeks", FormMethod.Post))
{
    <div class="content-wrapper" style="font-weight:100;font-family: 'Roboto', sans-serif;">
        <div class="col-sm-12" style="background-color:darkgray;height:40px;margin-top:46px">
            <p style="font-size:larger;padding-top:0.5%">Project Efforts</p>
        </div>
        <div class="container-fluid">

            <div class="card mb-3" style="margin-top:2%">
                @*<div class="card-header" style="background-color:#435560;color:white">
                        Hours Tracking
                    </div>*@
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th style="font-weight:300;background-color:#435560;color:white">Weeks</th>
                                    <th style="font-weight:300;background-color:#435560;color:white">Hours</th>
                                    <th style="font-weight:300;background-color:#435560;color:white">Daily Average</th>
                                    <th style="font-weight:300;background-color:#435560;color:white">Number of leaves</th>
                                </tr>
                            </thead>

                            <tbody id="tblbody">
                                @foreach (var item in ViewBag.Results)
                                {
                                    if ((!string.IsNullOrEmpty(@item.Startdate)) && (!string.IsNullOrEmpty(@item.Enddate)))
                                    {
                                        <tr>
                                            <td align="center" id="dates">
                                                <em class="customerIDCell" style="font-style:italic">@item.Startdate to @item.Enddate</em>
                                            </td>
                                            <td id="hours" style="width:15%;">
                                                
                                                <input id="txt" style="width:100%;" name="txthr" type="text" class="hoursclass form-control" value="@item.Hours" />
                                            </td>
                                            @if ((@item.Avg < 8.8) && (ViewBag.Empcode != "aits011"))
                                            {
                                                <td>
                                                    <em class="" style="color:red;font-style:normal">@item.Avg</em>
                                                </td>
                                            }
                                            else if (@item.Avg < 5.5)
                                            {
                                                <td>
                                                    <em class="" style="color:red;">@item.Avg</em>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <em class="" style="color:green;font-style:normal">@item.Avg</em>
                                                </td>
                                            }
                                            <td style="text-align:center;">
                                                <input value="@item.Numofleaves" type="text" class="leaveclass form-control" style="width:50%;" />
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr>
                                            <td align="center" id="dates">
                                                <em class="customerIDCell">@item.WeekDates</em>
                                            </td>
                                            <td id="hours">
                                                <input id="txt" type="text" class="hoursclass form-control" />
                                            </td>
                                            <td>
                                                <label for="male"></label>
                                            </td>
                                            <td style="text-align:center;">
                                                <input value="" type="text" class="leaveclass form-control" style="width:50%;" />
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer small text-muted">
                    <div class="row" style="font-size:18px;">
                        <div class="col-md-4" style="text-align:right;padding-left:15%">
                            Total Hours:
                        </div>
                        <div class="col-md-1">
                            <span id="totalhrs" style="font-size:100%;" class="myclass">@ViewBag.Totalhours</span>
                        </div>
                        <div class="col-md-3" style="text-align:right;">
                            Average till date:
                        </div>
                        <div class="col-md-1" style="text-align:left;padding-left:0px;">
                            @ViewBag.tilldateaverage
                        </div>
                        <div style="float:right" class="col-md-3">
                            <button type="button" class="btn btn-outline-info" style="background-color:#2B2F33;color: white;" onclick="showTableData()">Submit</button>
                            <button type="button" class="btn btn-outline-info" style="background-color:#2B2F33;color: white;">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
